* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.board-container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #d3d6da;
}

